In [8]:
from sklearn import datasets
X, y = datasets.fetch_openml('boston', return_X_y=True)
import pandas as pd

/opt/homebrew/Caskroom/miniconda/base/envs/yeardream/lib/python3.9/site-packages/sklearn/datasets/_openml.py:322: UserWarning: Multiple active versions of the dataset matching the name boston exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=531
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=853

  warn(warning_msg)

In [12]:
boston_houseprice_data = X
boston_houseprice_target = y

In [14]:
df = pd.DataFrame(boston_houseprice_data, columns=X.columns)

In [15]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [17]:
df['AGE']

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [18]:
df.shape

(506, 13)

In [19]:
# 질적 변수 
# 변수의 값이 특정 범주에 포함되도록 표현가능한 변수
# 예시) 아이들 장난감의 색상, 특정 집단 구성원의 성별, 종교 등

In [20]:
# 양적 변수
# 변수의 값을 숫자로 나타낼 수 있는 변수
# 예시) 사람의 키나 몸무게, 한 가정의 소득, 고속도로 통행량 등

In [21]:
# 이산 변수
# 셀 수 있는 변수
# 예시) 아파트 층수, 한 회사의 직원 수, 불량품의 개수 등

In [23]:
# 연속 변수
# 셀 수 없는 변수
# 즉, 이산 변수와 다르게 변수의 각 값 사이에 무수히 많은 또 다른 값들이 존재하는 특성을 띔.
# 예시) 사람의 키, 몸무게, 나이, 한 가구의 소득 등

In [24]:
# 간격 변수
# 대소 관계와 함께 그 차이에도 의미를 두는 변수
# 예시) 연도, 온도 등

In [25]:
# 비율 변수
# 대소 관계, 차이, 비 모두에 의미를 두는 변수
# 예시) 길이, 무게 등

In [26]:
# 명목 변수
# 단순히 분류하기 위한 변수
# 예시) 학생 번호, 전화번호, 성별 등

In [27]:
# 순위 변수
# 순서 관계 및 대소 관계에 의미를 둔 변수
# 예시) 성적 순위, 설문조사의 만족도 등

In [28]:
# 출력을 소수점 이하 3자리로 제한
%precision 3

'%.3f'

In [32]:
pd.set_option('display.precision', 3)

In [33]:
import numpy as np

In [ ]:
# 평균

In [34]:
df['AGE'].mean()

68.575

In [35]:
sum(df['AGE']) / len(df['AGE'])

68.575

In [36]:
np.mean(df['AGE'])

68.575

In [37]:
# 중앙값

In [38]:
# len 계산
len(df['AGE'])

506

In [39]:
# 253, 254 번째 값
print(
    list(df['AGE'].sort_values())[int(len(df['AGE']) / 2 - 1)],
    list(df['AGE'].sort_values())[int(len(df['AGE']) / 2)]
)

77.3 77.7

In [41]:
# 중앙값 계산 : 253번째 값과 254번째 값의 평균
print(
    (
    list(df['AGE'].sort_values())[int(len(df['AGE']) / 2 - 1)] +
    list(df['AGE'].sort_values())[int(len(df['AGE']) / 2)]
    ) / 2
)

77.5

In [42]:
df['AGE'].median()

77.500

In [43]:
np.median(df['AGE'])

77.500

In [44]:
# 최빈값

In [45]:
df['AGE'].mode()

0    100.0
Name: AGE, dtype: float64

In [48]:
df.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT
count,506.000,506.000,506.000,506.000,506.000,506.000,506.000,506.000,506.000,506.000,506.000
mean,3.614,11.364,11.137,0.555,6.285,68.575,3.795,408.237,18.456,356.674,12.653
std,8.602,23.322,6.860,0.116,0.703,28.149,2.106,168.537,2.165,91.295,7.141
min,0.006,0.000,0.460,0.385,3.561,2.900,1.130,187.000,12.600,0.320,1.730
25%,0.082,0.000,5.190,0.449,5.885,45.025,2.100,279.000,17.400,375.377,6.950
50%,0.257,0.000,9.690,0.538,6.208,77.500,3.207,330.000,19.050,391.440,11.360
75%,3.677,12.500,18.100,0.624,6.623,94.075,5.188,666.000,20.200,396.225,16.955
max,88.976,100.000,27.740,0.871,8.780,100.000,12.127,711.000,22.000,396.900,37.970

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    category
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    category
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: category(2), float64(11)
memory usage: 45.1 KB

In [50]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.006,18.0,2.31,0,0.538,6.575,65.2,4.090,1,296.0,15.3,396.90,4.98
1,0.027,0.0,7.07,0,0.469,6.421,78.9,4.967,2,242.0,17.8,396.90,9.14
2,0.027,0.0,7.07,0,0.469,7.185,61.1,4.967,2,242.0,17.8,392.83,4.03
3,0.032,0.0,2.18,0,0.458,6.998,45.8,6.062,3,222.0,18.7,394.63,2.94
4,0.069,0.0,2.18,0,0.458,7.147,54.2,6.062,3,222.0,18.7,396.90,5.33

In [51]:
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
501,0.063,0.0,11.93,0,0.573,6.593,69.1,2.479,1,273.0,21.0,391.99,9.67
502,0.045,0.0,11.93,0,0.573,6.120,76.7,2.288,1,273.0,21.0,396.90,9.08
503,0.061,0.0,11.93,0,0.573,6.976,91.0,2.167,1,273.0,21.0,396.90,5.64
504,0.110,0.0,11.93,0,0.573,6.794,89.3,2.389,1,273.0,21.0,393.45,6.48
505,0.047,0.0,11.93,0,0.573,6.030,80.8,2.505,1,273.0,21.0,396.90,7.88

NameError: name 'df_score_a' is not defined